In [1]:
#_____Librairies importées
import requests as rq
from bs4 import BeautifulSoup as bs
import json
import pandas as pd
import numpy as np
import re
import psycopg2
import pandas as pd
from psycopg2.extensions import parse_dsn
from sqlalchemy import create_engine

In [2]:
# In[2]:



##_____________Récuperer les urls de quatre metiers de la data 

Scrap_Monster = {"mot_clef":[], "intitule_offre": [], "nom_entreprise": [], "lieu": [], "date": [], "lien": [], 'latitude':[], 'longitude':[], 'description':[], 'langage1':[], 'langage2':[] }  

list_clefs = ["'data-analyst'", "'data-scientist'", "'developpeur-data'", "'data-ingenieur'"]
    
for mot_clef in list_clefs:
    url_sc_monster = f'https://www.monster.fr/emploi/recherche/?q={mot_clef}&where=Auvergne__2DRh__C3__B4ne__2DAlpes&cy=fr&stpage=1&page=9'

    


##___________Recuperation du code source html de site Monster lié à la data
    r = rq.get(url_sc_monster, auth=('user', 'pass'))
    r.status_code
    r.headers['content-type']
    soup = bs(r.text, 'html.parser')
    #print(soup.prettify())


    sc_intitule = soup.find_all("h2", class_ = "title")
    sc_nom_entreprise= soup.find_all("div", class_ = "company")
    sc_lien = soup.find_all("h2", class_ = "title")
    sc_lieu = soup.find_all("div", class_ = "location")
    sc_date = soup.find_all("div", class_ = "meta flex-col")
    sc_autre_lieu = soup.find_all("span", class_ = "mux-tooltip multi-loc-link")
    sc_coord =soup.find_all('a',{"data-bypass":"true"})


    for i in range(len(soup.find_all("div", {"class":"summary"}))-1):
        Scrap_Monster["mot_clef"].append(mot_clef)
        Scrap_Monster["intitule_offre"].append(sc_intitule[i].text.replace("\n", "").strip())        
        Scrap_Monster["lien"].append(sc_lien[i].find('a').get('href'))      
        Scrap_Monster["nom_entreprise"].append(sc_nom_entreprise[i].text.replace("\n", " ").strip())      
        Scrap_Monster["lieu"].append(sc_lieu[i+1].text.replace("\n", "").strip().replace(", Auvergne-Rhône-Alpes", " "))
        Scrap_Monster["date"].append(sc_date[i].text.replace("\n", "").strip().replace("PostuléSauvegardée", " ").replace("Publiée ", " "))
        Scrap_Monster['latitude'].append(str(sc_coord[i].get('data-m_impr_j_lat')))
        Scrap_Monster['longitude'].append(str(sc_coord[i].get('data-m_impr_j_long')))
    
   
#__________Recuperer la discription de chaque offre 

        url_offre = sc_lien[i].find('a').get('href')
        r = rq.get(url_offre)
        soupet = bs(r.text, 'html.parser')

        sc_description_raw = soupet.find("div", class_ = "job-description")
    
        if  sc_description_raw is None:
    
            Scrap_Monster["description"].append(None)
        else:
            sc_description = sc_description_raw.text
            Scrap_Monster["description"].append(sc_description)
        
        
    
    
#__________Regex pour recuperer les outils et les languages    
        pattern1 = re.compile(r'(?P<sql>[Ss][Qq][Ll])')
        pattern2 = re.compile(r'(?P<python>[Pp][Yy][Tt][Hh][Oo][Nn])')
        match1 = re.search(pattern1,sc_description)
        match2 = re.search(pattern2,sc_description)
        if match1 is None:
            Scrap_Monster["langage1"].append(np.nan)    
        else:
            Scrap_Monster["langage1"].append(match1.group())
        
        if match2 is None:
            Scrap_Monster["langage2"].append(np.nan)
        else:   
        
            Scrap_Monster["langage2"].append(match2.group())
    

        
#___________Transformation du dictionnaire en datafram
df = pd.DataFrame(Scrap_Monster)
df1 = df.astype(object).replace('None', np.nan)
#df1

In [3]:
df1

,mot_clef,intitule_offre,nom_entreprise,lieu,date,lien,latitude,longitude,description,langage1,langage2
0,'data-analyst',Data Financial Analyst H/F,Michael Page,Lyon,aujourd'hui,https://offre-demploi.monster.fr/data-financia...,45.7674,4.83430000000001,DescriptionNotre client est un Groupe de capit...,NaN,NaN
1,'data-analyst',Business intelligence ou Data Analyst (H/F),Innovallée,Meylan,il y a 2 jours,https://offre-demploi.monster.fr/business-inte...,NaN,NaN,DescriptionTalents\n \n Business intelligence ...,NaN,NaN
2,'data-analyst',Stage - Data Analyst Junior - H/F,Photoweb,Saint-Egrève,il y a 7 jours,https://offre-demploi.monster.fr/stage-data-an...,45.2178,5.77959999999999,"DescriptionEn tant que Data Analyst Junior, no...",SQL,NaN
3,'data-analyst',Data Analyst F/H,AVANCI,Lyon,il y a +30 jours,https://offre-demploi.monster.fr/data-analyst-...,45.2712,5.6782,DescriptionData Analyst F/H\n \n > > DATA ANA...,SQL,Python
4,'data-analyst',Web Data Analyst confirmé H/F,Wizbii,Grenoble,il y a +30 jours,https://offre-demploi.monster.fr/web-data-anal...,45.7674,4.83430000000001,DescriptionBienvenue dans notre magnifique ave...,SQL,NaN
...,...,...,...,...,...,...,...,...,...,...,...
313,'data-ingenieur',SRE Engineer /Ops (H/F),Coservit,Grenoble,il y a +30 jours,https://offre-demploi.monster.fr/sre-engineer-...,45.1808,5.697,DescriptionSRE Engineer /Ops\n \n PUBLISHED ON...,sql,Python
314,'data-ingenieur',Stage - Ingenieur Travaux Infrastructures Liné...,Ingérop,Grenoble,il y a +30 jours,https://offre-demploi.monster.fr/stage-ingenie...,45.7674,4.83430000000001,DescriptionOuvrir le sous-menu\n \n Fermer le ...,NaN,NaN
315,'data-ingenieur',Ingénieur Système & Réseau (H/F),Rezopole,Caluire-et-Cuire,il y a 5 jours,https://offre-demploi.monster.fr/ingénieur-sys...,45.1942,5.73159999999999,DescriptionIngénieur Système & Réseau (H/F) \n...,NaN,NaN
316,'data-ingenieur',Ingénieur Systèmes et Réseaux - ★★★★★ (H/F),Soluxan,Lyon,il y a 13 jours,https://offre-demploi.monster.fr/ingénieur-sys...,45.1942,5.73159999999999,DescriptionPoste disponible en CDI ou Freelanc...,SQL,NaN
317,'data-ingenieur',Ingénieur Systèmes et Réseaux Lyon H/F - 139Vi...,Visiativ,Lyon,il y a 15 jours,https://offre-demploi.monster.fr/ingénieur-sys...,45.7962,4.84229999999999,DescriptionIngénieur Systèmes et Réseaux Lyon ...,SQL,NaN

In [ ]:
df1.info()

In [ ]:
df1.describe()

In [ ]:
import seaborn as sns

sns.heatmap(df1.isnull(), cbar=False)

In [ ]:
#__________Création d'un csv à partir du dataframe

df1.to_csv("Scp_MONSTER.csv", index =False)

In [ ]:
import psycopg2 
from psycopg2.extensions import parse_dsn 
import os
import requests
fname = 'Scp_MONSTER.csv'
db_dsn = "postgres://postgres:test@localhost:5432/decouverte"
db_args = parse_dsn(db_dsn)
conn = psycopg2.connect(**db_args)

cur = conn.cursor()

from sqlalchemy import create_engine
engine = create_engine(db_dsn)
df1.to_sql('monster', engine, if_exists='replace', index = False)

In [ ]:
# A l'aide d'un requête SQL (en SQLite et PostgreSQL), vérifier les valeurs du nombre
# total de lignes dans le fichier CSV ainsi que le nombre de valeurs manquantes dans
# 2 colonnes du jeu de données
#cursor = conn_postgre.cursor()
conn = psycopg2.connect(**db_args)
cursor = conn.cursor()
cursor.execute("SELECT count(*) FROM monster;")
print("Nombre de lignes :")
print(cursor.fetchone()[0])
cursor.execute("SELECT count(*)-count(latitude) FROM monster;")
print("Nombre de valeurs manquantes dans la colonne latitude :")
print(cursor.fetchone()[0])
cursor.execute("SELECT count(*)-count(longitude) FROM monster;")
print("Nombre de valeurs manquantes dans la colonne longitude :")
print(cursor.fetchone()[0])

In [ ]:
conn_postgre = psycopg2.connect(**db_args)
cursor = conn_postgre.cursor()
for column in df.columns:
    req = f"SELECT round(cast(count(1)-count({column}) as NUMERIC)/count(1), 2)*100 FROM monster;"
    cursor.execute(req)
    nb_missing = cursor.fetchone()[0]
    if nb_missing>80:
        print(f"La colonne {column} contient {nb_missing}% de valeurs manquantes".upper())
    else:
        print(f"La colonne {column} contient {nb_missing}% de valeurs manquantes")

In [ ]:
df = pd.read_csv("Scp_MONSTER.csv")

In [ ]:
# Afficher un résumé des informations sur les données du dataframe à l'aide d'une méthode
# de dataframe (nombre de lignes, nombres de valeurs présentes par colonne, types de valeurs...)
df.info()

In [ ]:
# En python et en SQL, créer un nouveau dataframe (ou nouvelle table en SQL) qui ne contient
# que les colonnes qui ont moins de 10% de valeurs manquantes

# EN PYTHON
columns_selected = []
for column in df.columns:
    nb_missing = round(df[column].isnull().sum() / df.shape[0], 2)*100
    if nb_missing<30:
        columns_selected.append(column)
df_clean = df[columns_selected]
df_clean.info()

In [ ]:
def clean_pandas(df, max_missing):
    columns_selected = []
    for column in df.columns:
        nb_missing = round(df[column].isnull().sum() / df.shape[0], 2)*100
        if nb_missing<max_missing:
            columns_selected.append(column)
    df_clean = df[columns_selected]
    df_clean.info()
    return df_clean
def clean_data(data_type="pandas", df=None, max_missing=10, conn=None, table_name="data"):
    if data_type=="pandas":
        return clean_pandas(df=df, max_missing=max_missing)
    elif data_type=="sql":
        clean_sql(max_missing=max_missing, conn=conn, table_name=table_name)
    else:
        print(f"Le type de donnée '{data_type}' n'existe pas")
df_clean = clean_data(data_type="pandas", df=df, max_missing=30)

In [ ]:
sql_query = "SELECT * FROM monster;"
df = pd.read_sql(sql_query, conn_postgre)
print(df)

In [ ]:
sns.heatmap(df.isnull(), cbar=False)

In [ ]:
df.isnull().sum(axis=1).value_counts()

In [ ]:
# Pour les colonnes de catégories, afficher le nombre de valeurs par catégorie à l'aide de pandas
cat_col = ["mot_clef","intitule_offre", "nom_entreprise", "lieu", "date","lien","latitude","longitude","langage1","langage2"]
for col in cat_col:
    print(df[col].value_counts())

In [ ]:
# Afficher le nombres de valeurs pour chacune des catégories de cette colonne
#df['longitude'].value_counts()
df['latitude'].value_counts()

In [ ]:
df.loc[df['latitude'] == 'unknown', 'latitude'] = np.nan
df.info()

In [ ]:
df_clean["latitude"].mode()

In [ ]:
df_clean["latitude"] = df_clean["latitude"].fillna(df_clean["latitude"].mode()[0])
df_clean.info()

In [ ]:
df_clean["longitude"] = df_clean["longitude"].fillna(df_clean["longitude"].mean())
df_clean.info()

In [ ]:
df_clean = df_clean.dropna(axis=0)
df_clean.info()

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df_visu = pd.DataFrame(df)
df_visu

In [ ]:
import os
import folium
import pandas as pd
from folium.plugins import MarkerCluster
LAT_GRE = 45.188529
LONG_GRE = 5.724524
maps = folium.Map(location=[LAT_GRE, LONG_GRE],zoom_start=12)
marker_cluster= MarkerCluster()
for row in df_visu.itertuples():
    try :   
        folium.Marker(location=[row.latitude, row.longitude], popup=row.intitule_offre).add_to(marker_cluster)
    except :
        marker_cluster.add_to(maps)
        #print(row)
# Afficher un périmètre de rayon 15km autour du centre de la carte
folium.Circle(
    radius= 15000,
    location= [LAT_GRE, LONG_GRE],
    color= "crimson",
    fill=False,
).add_to(maps)

maps